.overview {
  height: 100vh;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-areas: 
    'location location rooms      co2'
    'location location lightwaste hcwaste';
}

.grid-item {
  padding: 17px;
}

.location {
  grid-area: location;
  width: 546px;
  height: 302px;
}

.rooms {
  max-width: 256px;
  grid-area: rooms;
}

.co2 {
  max-width: 256px;
  grid-area: co2;
}

.lightwaste {
  max-width: 256px;
  grid-area: lightwaste;
}

.hcwaste {
  max-width: 256px;
  grid-area: hcwaste;
}

.graph {
  width: 1122px;
  height: 546px;
  margin-top: 20px;
  margin-bottom: 20px;
}