.profile_item {
  width: 233px;
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  cursor: pointer;
}

.profile_item:hover {
  background-color: gray;
}

.profile_image {
  max-width: 100%;
  height: auto;
  margin: 11px 25px;
}