.card--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card--header > h2 {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.4px;
}

.card--toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ECECEC;
  border-radius: 5px;
  width: 60px;
  height: 24px;
}

.toggle--container {
  padding: 2px;
  margin: auto;
}