.sidebar {
    background-color: var(--main-color);
    color: var(--sidebar-text-color);
    padding: 25px;
    width: 200px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebar--item {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.sidebar--icon {
    height: 18px;
    width: 18px;
}

.main {
    
}

.main--icon {
    height: 23px;
    width: 26px;
    margin: auto;
}