:root {
  /* colors */
  --main-color: rgba(15, 21, 68, 1);
  --light-color: #f4f4f4;
  --medium-color: #ccc;
  --dark-color: #333;

  --sidebar-text-color: rgba(255, 255, 255, 1);
  
  /* device width */
  --website-width: 1440px;

  --canvas-width: 1240px;
  
  /* images */
  --overview-logo: url('./images/overview.png');
  --analytics-logo: url('./images/overview.png');
  --reports-logo: url('./images/overview.png');
  --sensors-logo: url('./images/overview.png');
  --property-logo: url('./images/overview.png');

  /* Typography */
  --font-one: "Helvetica Neue", Helvetica;
  --front-two: 'Roboto';
  --main-header-size: 36px;
  --title-size: 28px;
  --header-size: 20px;
  --sub-header-size: 16px;
  --paragraph-size: 14px;
  --caption-footer-size: 12px;
}